
.post-type-archive-ukds-products .site:before,
.post-type-archive-ukds-products .site:before,
.single-ukds-products .site:before,
.single-ukds-archive .site:before {content:none}


#ukds-container {margin:0px auto 50px;padding-top:20px}
#ukds-container, #ukds-container * {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;

}
#ukds-container #content-full {padding:20px}

#ukds-container .widget {width:100%;}

#ukds-container #sidebar,
#ukds-container aside {width:100%}

.product-top img,
.product-top h1 {float:left}
.product-top img {margin:0 20px 20px 0;}

h1.entry-title {text-align:left}

.product-post-content {clear:both}
#ukds-container #secondary {float:none;margin:0;width:100%;padding:0}
/*.single-ukds-products #secondary h3 {margin:0}*/

.single-ukds-products #secondary .meta-option {margin:20px 0 10px}
.single-ukds-products #secondary .meta-option .option-title,
.single-ukds-products #secondary .meta-option .option-value,
.single-ukds-products #secondary .meta-option .option-title {display:block}
.single-ukds-products #secondary .meta-option .option-value {font-size:17px}
.single-ukds-products #secondary .widget.widget-short_offer_text .option-value {font-size:17px;}
.single-ukds-products #secondary .widget.widget-book {background:transparent; padding:0;border:0}

.single-ukds-products .btn-book,
.singular-ukds-products .btn-book {display:block;text-align:center;color:#fff; width:100%;}
.single-ukds-products .btn-book:hover {text-decoration:none;}


.single-ukds-products .product-image-gallery {
    margin:0 -10px;
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
}
.single-ukds-products .product-image-gallery > a {
    position:relative;
    margin:0 10px;
    width:calc(33% - 20px);
    display: inline-block;
    min-width: 160px;
}

.single-ukds-products .product-image-gallery > a > span {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    color:#fff;
}


.single-ukds-products .product-image-gallery > a:nth-child(n+4) {
    display:none;
}

.single-ukds-products .mfp-container button:hover, 
.single-ukds-venues .mfp-container button:hover {
    background:transparent;
}


.single-ukds-products .product-image-gallery > a img {
    height:120px;
    background:#fcfcfc;
    width:100%;
    display:block;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 50% 50%;
}


#map {
    display:block;
}


#ukds-breadcrumbs {
    margin:0 0 10px;
    padding:0;
    list-style:none;
    white-space:nowrap;
    overflow-x:auto;
}


#ukds-breadcrumbs > li {
    padding:0;
    margin:0;
    display:inline-block;
    list-style:none;
    padding:10px 17px 10px 10px;
    position:relative;
}
#ukds-breadcrumbs > li:not(:last-child):after {
    content:"\f105";
    font-family:"FontAwesome";
    position:absolute;
    right:0;
    margin-top:-1px

}

.ukds-product-top .product-from-price {
    margin:20px 0;
    font-size:32px;
    line-height:1;
}

.ukds-product-top .product-from-price .from {
    font-size: 16px;
}

.ukds-product-top .product-no-price {
    margin:20px 0;
}

.ukds-product-top img {
    width:100%;
}

.ukds-product-top .product-tagline {
    font-style: italic;
    border-left: 4px solid #dadada;
    padding: 15px 15px 15px 20px;
    margin:0 0 20px 0;
}

.ukds-product-bottom {
    clear:both;
    margin:50px 0 0
}

.ukds-product-bottom .product-long-offer {
    padding:15px;
    background:#fafafa;
    border-left:4px solid #a367be;
    color:#630B79;
    margin-bottom:20px
}
.ukds-product-bottom .product-long-offer p {
    margin-bottom:5px
}
.ukds-product-bottom .product-long-offer > *:last-child {
    margin-bottom:0
}

.ukds-product-single-right table tr > td:first-child {
    width:30%
}





.ukds-product-venue-detail {display:block;}

.single-ukds-venues .ukds-product-venue h6,
.single-ukds-products .ukds-product-venue h6,
.single-ukds-products #secondary h6 {margin:20px 0 0 0; }
h6.option-title {font-size:13px}
.ukds-product-venue-seating-plan-note {margin-bottom:10px}

.product-top  h1 {font-size:32px; font-weight:500;margin:0px;}
.product-top img {position:relative;margin-bottom:20px;min-height:50px;}
.venue-post-left > img:first-child {margin-bottom:20px}

.ukds-archive-item  {margin-bottom:50px}
.ukds-archive-item img {position:relative; width:100%; }
.ukds-archive-item  h2 {font-size:24px; font-weight:500;margin:0px;}
.ukds-archive-item  a:hover {border:0; text-decoration:none}
.ukds-archive-item  .btn {padding:15px 25px}
.ukds-archive-item  h2,
.ukds-archive-item .image-container,
.ukds-archive-item .product-item-offer,
.ukds-archive-item p,
.ukds-archive-item .product-item-price {margin:0 0 15px; }
.ukds-archive-item  h2,
.ukds-archive-item img,
.ukds-archive-item .product-item-offer,
.ukds-archive-item .product-item-price {line-height:1;}
.ukds-archive-item .product-item-offer,
.ukds-archive-item .product-item-price {font-weight:700;  font-size:16px}
.ukds-archive-item .btn {display:inline-block;color:#fff}


.btn {padding:15px 25px; display:inline-block; line-height:1; transition:all .3s ease-in-out;border:0}
.ukds-archive-item .btn:before {background:#fff; position:absolute;content:"";left:0;top:0;width:100%;height:100%;z-index:-2}
.ukds-archive-item .btn:after { position:absolute;content:"";left:0;top:0;width:100%;height:100%;transition:opacity .3s ease-in-out;z-index:-1} 
.ukds-archive-item .btn:hover:after {opacity:0.85;}

.ukds-primary-button,
.ukds-secondary-button {position:relative;z-index:2;text-decoration:none;border-radius:2px; overflow:hidden;padding:0 20px; line-height:40px;display:inline-block; box-shadow:none;}
.ukds-primary-button:hover,
.ukds-secondary-button:hover {text-decoration:none; box-shadow:none!important;}
.ukds-primary-button:before,
.ukds-secondary-button:before {background:#dadada; position:absolute;content:""!important;left:0;top:0;width:100%;height:100%;z-index:-2}
.ukds-primary-button:after,
.ukds-secondary-button:after { position:absolute;content:""!important;left:0;top:0;width:100%;height:100%;transition:opacity .3s ease-in-out;z-index:-1} 
.ukds-primary-button:hover:after,
.ukds-secondary-button:hover:after {opacity:0.85;}

.product-top h1 {margin-top:0;}
.product-post-left img,
.product-top img,
.ukds-archive-item img {position:relative}
.product-post-left img:before,
.product-top img:before,
.ukds-archive-item img:before {position:absolute;background:#f0f0f0; content:"No Image Found";width:100%;height:100%;text-align:center;height:50px; line-height:50px; color:#999; }

.ukds-button-disabled {background:#dadada;cursor:default}

.ukds-archive-toolbar * {outline:none;}
.ukds-archive-toolbar.widget {padding-top:0}
.ukds-archive-toolbar .ukds-toolbar-item button {background:transparent; border:0; padding:0; margin:0 0 0 10px;}

#ukds-items-per-page button {vertical-align:top; line-height:50px; padding:0 15px; font-size:14px; font-weight:700;margin-left:0}
#ukds-items-per-page {margin-right:20px}

#ukds-archive-header {position:absolute;right:10px; top:-50px;}
#ukds-archive-header .ukds-toolbar-item {float:left}
#ukds-archive-header label {margin:0 10px 0;line-height:50px}
#ukds-archive-header select {    vertical-align: top;
    height: 40px;
    border: 0;
    border: 0;
    border-width: 1px;
    padding: 0 10px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3)}
#ukds-archive-header #ukds-item-layout {text-align:right; line-height:50px; font-size:18px;float:right}
#ukds-archive-header #ukds-item-layout button {width:50px;line-height:50px;text-align:center;margin:0;vertical-align:top;}
#ukds-archive-header #ukds-item-layout button.ukds-secondary-button {background:rgba(0,0,0,0.1)}
#ukds-archive-header #ukds-item-layout button:hover {background:#f0f0f0;}
#ukds-archive-header #ukds-item-layout button.ukds-layout-active:hover,
#ukds-archive-header .ukds-layout-active {color:#fff}

#ukds-product-grid {
    margin-bottom:40px
}

.ukds-product-pagination ul {}
.ukds-product-pagination ul li {margin-left:5px;display:block;float:left;border-right:1px solid #fff}
.ukds-product-pagination ul,
.ukds-product-pagination ul li {list-style:none;padding:0;margin:0 2px 0 0 ;}
.ukds-product-pagination ul li .page-numbers {width:40px;height:40px; background:#fff; box-shadow:0 0 1px rgba(0,0,0,0.3); text-align:center; line-height:40px; color:#999;font-weight:normal;font-size:14px;display:inline-block;transition:background .2s ease-in-out;font-weight:normal;padding:0; }
.ukds-product-pagination ul li a.page-numbers:hover,
.prev.page-numbers:focus, .prev.page-numbers:hover, .next.page-numbers:focus, .next.page-numbers:hover {text-decoration:none; background:#f0f0f0;}
.ukds-product-pagination ul li .current,
.ukds-product-pagination ul li .current:hover {color:#000}
.ukds-product-pagination ul li .next:after {content:'\f105';font-family:"FontAwesome"}
.ukds-product-pagination ul li .prev:after {content:'\f104';font-family:"FontAwesome"}

.ukds-product-pagination .page-numbers {
    display:inline-block!important
}

.ukds-display-grid {width:auto!important; position:relative; margin:0 -10px}
.ukds-display-grid .ukds-archive-item {width:33%; padding:0 10px; float:left;}
.ukds-display-grid .ukds-archive-item .ukds-col-sm-4,
.ukds-display-grid .ukds-archive-item .ukds-col-sm-8 {float:none;width:100%}
.ukds-display-grid .ukds-archive-item:nth-child(3n+1) {clear:left}

.image-container {display:block;max-height:250px;overflow:hidden}
.image-container img {max-width:100%;width:100%;}
.ukds-archive-item-image-link {transition:opacity .3s ease-in-out; display:block;}
.ukds-archive-item-image-link:hover {opacity:0.8;}

.ukds-display-grid .ukds-archive-item h2 {min-height:50px}
.ukds-display-grid .ukds-archive-item p {min-height:160px}

#ukds-container {
}

.ukds-col-product-grid {
    padding:8px;
}

.ukds-product-grid-item {
    background:#fff;
    transition: all .3s ease-in-out;
    box-shadow:0 0 2px rgba(0,0,0,0.1);
        display:block;

}

.ukds-product-grid-item:hover {
    transform:translate(0, -5px);
    box-shadow:0 0 3px rgba(0,0,0,0.2);
}


.ukds-product-grid-item .ukds-product-grid-image {
    position:relative;
}

#ukds-container .ukds-product-grid-item a {
    text-decoration:none;
    box-shadow:none
}

.ukds-product-grid-special {
    background:rgba(0,0,0,0.75);
    position:absolute;
    bottom:0px;
    right:0px;
    color:#fff;
    padding:8px 12px;
    font-size:smaller;
    display:inline-block;
    font-weight:700;
    text-align:right;
}


.ukds-product-grid-details > span {
    display:block;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden
}
#ukds-container .ukds-product-grid-image,
#ukds-container .ukds-product-grid-image img {
    display:block;
    box-shadow:none;
    margin-bottom:0;
}
.ukds-product-grid-details {
    display:block;
    padding:20px;
    min-height:115px;
}

.ukds-product-grid-title {
}

.ukds-product-grid-venue a {
    color:#999;
    font-size:smaller
}

.ukds-product-grid-button {
    padding:10px;
    margin:10px 0 0 0;
}

#ukds-calendar,
#ukds-prices  {min-height:300px;}

#ukds-calendar table,
#ukds-prices table {width:100%}

#ukds-calendar table td,
#ukds-prices table td,
#ukds-calendar table th,
#ukds-prices table th{padding:8px; font-size:16px; border:0}
#ukds-prices table th{cursor:pointer}
#ukds-prices table th.no-sort {cursor:default;}

#ukds-calendar .fc-head-container,
#ukds-calendar .fc-widget-content {padding:0}
#ukds-calendar .fc-event-container {border-width:0; padding:4px;}

#ukds-prices table {border:0}
#ukds-calendar table th,
#ukds-prices table th,
#ukds-container #ukds-calendar .fc-head-container {    border-bottom: 1px solid #f0f0f0;background: #fafafa;}
#ukds-prices table tr.banding td {background:#fafafa}
#ukds-prices table tr > td:last-child {text-align:right;}
#ukds-prices table tr > td:last-child a {text-align:center;display:block}

#ukds-prices .ticket-number {display:inline-block; margin:3px 3px 0 0;font-size:11px;padding:4px; line-height:1.1;}
#ukds-prices .ticket-number i {font-size:14px; margin:0 0 0 3px;  cursor:pointer;color:#fff}

#ukds-calendar table tr.banding td {background:#fff}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover {border-color:#f5f5f5}

#ukds-calendar .fc-scroller {height:auto!important; overflow:visible}

#ukds-calendar h2,
#ukds-prices h2,
#ukds-number h2 {padding:20px 0}
#ukds-calendar .fc-state-default,
#ukds-calendar button:hover, 
#ukds-calendar button:focus, 
#ukds-calendar input[type="button"]:hover, 
#ukds-calendar input[type="button"]:focus, 
#ukds-calendar input[type="reset"]:hover, 
#ukds-calendar input[type="reset"]:focus, 
#ukds-calendar input[type="submit"]:hover, 
#ukds-calendar input[type="submit"]:focus {
    background:#f0f0f0; 
    border-radius:0;     
    line-height: 50px;
    height: 50px;
    box-shadow: none;
    border: 1px solid #eaeaea;
    margin: 0 0 0 1px;
    width: 50px;
    overflow:hidden
}
  
#ukds-calendar .fc-event {border:0; padding:8px; cursor:pointer;border-radius:0}
#ukds-calendar .fc-event.too-few {opacity:0.7}
#ukds-calendar .fc-event.disabled {cursor:not-allowed;}
#ukds-calendar .fc-today-button {display:none}
#ukds-calendar .fc-title {display:block;font-size:smaller}
#ukds-calendar table {margin-bottom:0;border-width:1px}
#ukds-calendar .fc-day-grid .fc-row:nth-child(2n+2) .fc-bg table td:nth-child(2n+1),
#ukds-calendar .fc-day-grid .fc-row:nth-child(2n+1) .fc-bg table td:nth-child(2n+2) {background:#fafafa}





#ukds-number-selector a,
#ukds-calendar .fc-event,
#ukds-prices .ticket-number,
.ukds-toolbar-item select,
#ukds-archive-header #ukds-item-layout button {border-radius:2px!important; overflow:hidden}

#ukds-calendar .fc-event,
#ukds-prices .ticket-number {border-radius:4px!important}

#ukds-prices em {display:block; font-size:smaller;margin:5px 0}

#ukds-prices th:after {
    font-family:FontAwesome;
    content:"\f0dc";
    float:right;
    color:#dadada;
    font-weight:400;
}
#ukds-prices th.no-sort:after {
   content:none;
}

#ukds-prices th.sorted.ascending:after {
    content: "\f0dd";
    color:#000
}

#ukds-prices th.sorted.descending:after {
    content: "\f0de";
    color:#000
}

#ukds-prices tbody tr td:nth-child(3) {
    font-weight:700;
}

.too-many-filters {
    max-width:450px; margin:-30px auto 0;
    padding:20px;
    background:#fafafa;
    text-align:center;
}

.widget-filter-area .textwidget {
    margin-top:20px
}

.widget-filter-price .textwidget {
    margin-top:30px;
    font-size:14px;
}


.widget-filter-price .rangeslider {
    background:#f0f0f0
}
.widget-filter-price .rangeslider,
.widget-filter-price .rangeslider__fill {
    border-radius:5px;
    box-shadow:inset 0px 1px 5px rgba(0, 0, 0, 0.1)
}

.widget-filter-price .rangeslider__handle {
    box-shadow:0px 1px 5px rgba(0,0,0,0.1);
    border-color:#dcdcdc;
    width:20px;
    border-radius:5px;

}
.widget-filter-price .rangeslider__handle:after {
    content:none;
}

.up-to-price:before {
    width:8px;
    height:8px;
    transform:rotate(45deg);
    position:absolute;
    left:50%;
    margin-left:-4px;
    top:-5px;
    background:#fff;
    border:1px solid #dcdcdc;
    border-width:1px 0 0 1px;
    content:"";
}

.up-to-price {
    position:absolute;
    padding:5px;
    width:50px;
    text-align:center;
    border:1px solid #dcdcdc;
    opacity:0.4;
    transition:opacity .2s ease-in-out;
    background:#fff;
    border-radius:5px;
    margin-top:19px;  
    box-shadow:0px 1px 5px rgba(0,0,0,0.1)      
}

.up-to-price.active {
    opacity:1;
}

.widget-filter-area .textwidget div {
    display: inline-block;
    margin:0 5px 0 0;
}

.widget-filter-area label:before {
    content:"\f05e";
    font-family:FontAwesome;
    position:absolute;
    left:10px;
    top:8px;
    font-weight:normal;
    font-size:14px;
}

.widget-filter-area label {
    display:block;
    position:relative;
    padding: 8px 14px 8px 32px;
    border-radius: 5px;
    background: #f0f0f0;
    overflow: hidden;
    box-shadow:inset 0px 1px 5px rgba(0, 0, 0, 0.1);
    color:#a9a9a9;
    margin:0
}

.widget-filter-area input[type=checkbox] {
    position:absolute
}

.widget-filter-area input[type=checkbox] {
    visibility:hidden;
}


.widget-filter-area input[type=checkbox]:checked + label:before {
    content:"\f00c";
}


/* TOASTS */

.hidden-toast-item {
    display:none;
}

.toast-item {
    padding:15px 45px;
    background:rgba(0,0,0,0.8);
    text-align:center;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    font-weight:700;
    transition:opacity 1s ease-in-out;
    border-radius:50px;
    font-size:16px;
    z-index:9999
}



/* OFFER TAG */



.offer-text {
    margin-bottom:20px

}

.offer-tag {
    padding: 0 16px;
    background: #dadada;
    margin-right: 10px;
    font-size: smaller;
    border-radius: 3px;
    line-height: 36px;
    display: inline-block;
    position:relative;
    z-index:1;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-left:10px;
    float:left;
}

.offer-tag:before {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    left: -12px;
    transform: rotate(45deg);
    background: #dadada;
    top: 5px;
    border-radius: 3px;
    z-index: -1;

}

.offer-tag:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #fff;
    z-index: 2;
    left: -1px;
    top: 14px;
    position: absolute;
}



.product-post-left .product-image {width:100%}

#ukds-number-selector {margin-top:40px}
#ukds-number-selector a {display:inline-block;width:60px;height:60px;line-height:60px;text-align:center;margin:0 1px 1px 0}
#ukds-number-selector a:hover,
#ukds-number-selector a:focus {text-decoration:none}

@media screen and (max-width : 992px) {
	/*.product-post-left {margin-top:50px;}*/

        #ukds-venue-product-list .widget {
        width:33%;
        float:left;
    }
}

@media screen and (max-width : 991px) {
    
   #ukds-container #secondary {
       margin-top:40px;
   }
   
    #ukds-product-grid {
        margin-bottom:20px;
    }
}

@media screen and (max-width : 768px) {
  
    #ukds-calendar .fc-event {
        padding:4px
    }
    #ukds-calendar .fc-event-container {
    padding:0;
    }
    #ukds-calendar table td {
        font-size:12px
    }
    #ukds-container .fc-day-grid-event .fc-content {
        white-space:normal
    }

     #secondary .product-post-left img {
        display:none
    }

     .ukds-product-top img {
        width:auto;
    }



}
@media screen and (max-width : 767px) {
    .ukds-product-grid-details {
        min-height:130px
    }

    .ukds-product-single-left {
        margin-top:40px;
    }



}
@media screen and (max-width : 650px) {

    #ukds-breadcrumbs {
        padding-bottom:10px;
    }

    .ukds-toolbar-item select {
        width:100%
    }
    .ukds-toolbar-item#ukds-item-layout {
        display:none
    }
    #ukds-prices td,
    #ukds-prices th
     {
        display:block;
    }
    #ukds-prices th {
        display:none
    }
    #ukds-prices th:nth-child(4) {
        display:table-cell
    }

    .ukds-product-top-left,
    .ukds-product-top-right {
        width:100%;
        clear:both;
    }
    .ukds-product-top-right {
        margin-top:20px;
    }

   #ukds-venue-product-list .widget {
        width:50%;
    }


   #ukds-archive-header {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    }

   #ukds-archive-header form {
       display:flex;
   }

   #ukds-archive-header .ukds-toolbar-item {
    float: none;
    flex: auto 1 1;
}
   .ukds-product-pagination ul li .page-numbers {
       width:39px;
       height:30px;
       line-height:30px;
   }
}
@media screen and (max-width : 460px) {
    #ukds-calendar {
        margin:0 -40px;
    }
    #ukds-calendar .fc-toolbar {
        padding:10px 15px 0
    }

   #ukds-venue-product-list .widget {
        width:100%;
    }
}

